@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="/Identity/Login">Login</a> or <a href="/Identity/Register">Register</a> to search and save recipes.</p>
</div>
