<h2>Find Recipe</h2>
<p>Enter ingredients and view recipes that contain them.</p>
<form action="Recipe/Search" method="post">
    <input type="text" name="title" />
    <input type="submit" />
</form>