@model List<Recipe>

    <table class="table table-bordered">
        <thead>
            <tr><td>Recipe Title</td> <td>Recipe Ingredients</td> <td>Recipe Link</td></tr>
        </thead>
        @foreach(Recipe recipe in Model)
        {
        <tr>
            <td>@recipe.title </td><td>@recipe.ingredients</td><td>@recipe.href</td>
        </tr>
        }
        
    </table>