@model List<Recipe>

    <table>
        @foreach(Recipe recipe in Model)
        {
        <tr>
            <td>@recipe.title </td><td>@recipe.ingredients</td><td>@recipe.href</td>
        </tr>
        }
        
    </table>