@model List<Recipe>

    <table class="table table-bordered">
        <thead>
            <tr><th>Recipe Title</th> <th>Recipe Ingredients</th> <th>Thumbnail</th></tr>
        </thead>
        <tbody>
        @foreach(Recipe recipe in Model)
        {
        <tr>
            <td><a href="@recipe.href">@recipe.title</a> </td><td>@recipe.ingredients</td><td><img src= "@recipe.thumbnail" /></td>
        </tr>
        }
        </tbody>
    </table>